
/* handle background image sizing for mobile screen sizes */
body{
  background: rgb(54,217,182) no-repeat center center fixed;
  background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
background-image: url("https://picsum.photos/360/1000?grayscale") ;
background-size:     cover;     

}

/* using the @media tag to resize background-image, to handle tablets, skinny desktop screens */
@media screen and (min-width: 480px) {
  body {
    background-image: url("https://picsum.photos/768/1500?grayscale");
    background-size:     cover;     
      }
}

/* handle regular desktop screens */ 
@media screen and (min-width: 800px) {
  body {
    background-image: url("https://picsum.photos/1920/2500?grayscale");
    background-size:     cover;     

  }
}

/* handle regular desktop screens */ 
@media screen and (min-width: 1281px) {
  body {
    background-image: url("https://picsum.photos/2880/2500?grayscale");
    background-size:     cover;     

  }
}

h1, h2, h3, h4, h5, p, span, strike{
  font-family: 'Montserrat', sans-serif;

}

#task-container{
  max-width:600px;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;
  
  margin-top:50px;

  justify-content: space-around;
  align-items: flex-start;

}

#header-container{
  max-width:600px;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
  margin-top:100px;
  margin-bottom:0;

  justify-content: space-around;
  align-items: flex-start;

}
#header-wrapper{
  top: 0rem;
  border-bottom: 1px solid  #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding:40px;
  text-align: center;
}



#form-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid  #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding:40px;
}

#done-header{
  margin: auto;
  text-align: center;

  top: 0rem;
  border-bottom: 1px solid  #e9e9e9;
  background-color: #fff;
  padding:20px;
}


#submit{
  background-color: #36d9b6;
  border-radius: 0;
  border:0;
  color: #fff;
}

.flex-wrapper{
  display: flex;
}

.task-wrapper{
    cursor: pointer;
    border-bottom: 0px solid  #e9e9e9;
    color: #686868;
    margin:5px;
    padding:20px;
}

.task-wrapper:hover{
    background-color: #F0F0F0;
}

#list-wrapper{
  border-bottom:0px solid black;
}

/* Styling DONE section */

#done-container{
  max-width:600px;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  
  margin-top:50px;
  justify-content: space-around;
  align-items: flex-start;
  transition: all .5s ease;

}

#done-wrapper{
  border-bottom:0px solid black;
  background-color: transparent;
  transition: all .5s ease;

  position:relative;
  visibility: visible;
  opacity: 1;
  transform: 0%;

}

#done-header{
  display: grid;
  background-color: white;
  grid-auto-flow: column;  
}